<h2>1.1 ¿Tienes 15 minutos y quieres aprender a usar Git?</h2>
<p>Git permite a grupos de programadores trabajar sobre los mismos documentos (generalmente código) de forma concurrente, y sin ir molestándose los unos a los otros. Es un sistema de control de versiones.</p>

<p>El prompt del terminal está situado en el directorio raíz. Para inicializar el repositorio de Git aquí, escribe el siguiente comando:</p>

<code>git init</code>

<div style="display:none;">
	<h2>1.1 Got 15 minutes and want to learn Git?</h2>
	<p>Git allows groups of people to work on the same documents (often code) at the same time, and without stepping on each other's toes. It's a distributed version control system.</p>

	<p>Our terminal prompt below is currently in a directory we decided to name "octobox". To initialize a Git repository here, type the following command:</p>

	<code>git init</code>
</div>