<h2>1.10 Remote Repositories</h2>
<p>Great job! We've gone ahead and created a new empty GitHub repository for you to use with Try Git at https://github.com/test/test.git. To push our local repo to the GitHub server we'll need to add a remote repository.</p>

<p>This command takes a remote name and a repository URL, which in your case is https://github.com/test/test.git.</p>

<p>Go ahead and run git remote add with the options below:</p>

<code>git remote add origin https://github.com/test/test.git</code>