<h2>1.10 Repositorios remotos</h2>
<p> Vamos a intentar conectarnos a un repositorio que hemos creado en GitHub para hacer algunas pruebas. Para subir tu repositorio local a los servidores de GitHub, lo primero que tenemos que hacer es añadir el repositorio remoto.</p>

<p>El comando recibe el nombre del repositorio local y la dirección web del repositorio remoto, en este caso, https://github.com/test/test.git.</p>

<p>Prueba a escribir el siguiente comando y no olvides incluir los diferentes parámetros:</p>

<code>git remote add origin https://github.com/test/test.git</code>