<h2>1.11 Subiendo al servidor remoto</h2>
<p>EL siguiente comando le dirá a Git a donde quieres subir tus cambios cuando estén listos y, estamos listos para hacer una subida a nuestro servidor remoto (en GitHub).</p>

<p>Nuestro repositorio se llama origin y el branch por defecto se llama master. El modificador -u sirve para recordar los parametros para que, la próxima subida sea más sencilla y podas usar, directamente, git push sin ningún modificador. Escribe el siguiente comando y realiza una subida al servidor remoto:</p>

<code>git push -u origin master</code>