<h2>1.12 Actualizando remotamente</h2>
<p>Vamos a suponer que ha pasado un tiempo y que hemos invitado a algunos amigos a nuestro proyecto en GitHub quienes han realizado sus respectivos cambios en el servidor remoto. </p>

<p>Nosotros podemos comprobar esos cambios en nuestro repositorio y descargándolos escribiendo:</p>

<code>git pull origin master</code>

<div style="display:none;">
	<h2>1.12 Pulling Remotely</h2>
	<p>Let's pretend some time has passed. We've invited other people to our GitHub project who have pulled your changes, made their own commits, and pushed them.</p>

	<p>We can check for changes on our GitHub repository and pull down any new changes by running:</p>

	<code>git pull origin master</code>
</div>