<h2>1.13 Removing All The Things</h2>
<p>Vale, los amigos que invitamos han hecho un buen destrozo en nuestro proyecto y queremos borrar todos los ficheros para empezar de nuevo este proyecto. Puedes usar el comando git rm para borrar no solo los ficheros del repositorio local, sino que también los del servidor remoto.</p>

<p>Nuevamente, puedes usar el comodín para hacerte el trabajo más fácil:</p>

<code>git rm '*.txt'</code>

<div style="display:none;">
	<h2>1.20 Removing All The Things</h2>
	<p>Ok, so you're in the clean_up branch. You can finally remove all those pesky octocats by using the git rm command which will not only remove the actual files from disk, but will also stage the removal of the files for us.</p>

	<p>You're going to want to use a wildcard again to get all the octocats in one sweep, go ahead and run:</p>

	<code>git rm '*.txt'</code>
</div>