<h2>1.14 Guardando los últimos cambios</h2>
<p>Ahora que hemos borrado todos los ficheros necesitamos guardar este cambio.</p>

<p>Prueba a escribir git status para ver todos los cambios que vas a guardar.</p>

<code>git commit -m "003_commit_limpieza"</code>

<div style="display:none;">
	<h2>1.21 Commiting Branch Changes</h2>
	<p>Now that you've removed all the cats you'll need to commit your changes.</p>

	<p>Feel free to run git status to check the changes you're about to commit.</p>

	<code>git commit -m "Remove all the cats"</code>
</div>