<h2>1.16 La última subida</h2>
<p>Ya hemos llegado al final y me siento orgulloso de lo lejos que has sido capaz de llegar. Todo lo que necesitas hacer ahora es hacer una última subida para guardar todos los cambios que hemos realizado en el servidor remoto y ya estará todo terminado.</p>

<code>git push</code>

<div style="display:none;">
	<h2>1.25 The Final Push</h2>
	<p>Here we are, at the last step. I'm proud that you've made it this far, and it's been great learning Git with you. All that's left for you to do now is to push everything you've been working on to your remote repository, and you're done!</p>

	<code>git push</code>
</div>