<h2>1.2 Comprobando el estado</h2>
<p>¡Buen trabajo! Como Git ha dicho, en nuestro directorio raíz se ha creado un repositorio vacío en /.git/. El respositorio es un directorio oculto y es donde trabaja Git.</p>

<p>El siguiente paso será comprobar el estado de como se encuentra nuestro proyecto:</p>

<code>git status</code>

<div style="display:none;">
	<h2>1.2 Checking the Status</h2>
	<p>Good job! As Git just told us, our "octobox" directory now has an empty repository in /.git/. The repository is a hidden directory where Git operates.</p>

	<p>To save your progress as you go through this tutorial -- and earn a badge when you successfully complete it -- head over to create a free Code School account. We'll wait for you here.</p>

	<p>Next up, let's type the git status command to see what the current state of our project is:</p>

	<code>git status</code>
</div>