<h2>1.3 Añadiendo y guardando</h2>
<p>Hemos creado un fichero nuevo en tu repositorio para que puedas empezar a trabajar.</p>

<p>Prueba a ejecutar nuevamente el comando de git para ver los nuevos cambios efectuados en el estado del proyecto:</p>

<code>git status</code>

<div style="display:none;">
	<h2>1.3 Adding & Committing</h2>
	<p>I created a file called octocat.txt in the octobox repository for you (as you can see in the browser below).</p>

	<p>You should run the git status command again to see how the repository status has changed:</p>

	<code>git status</code>
</div>