<h2>1.4 Añadiendo cambios</h2>
<p>Bien hecho, parece que nuestro repositorio Git funciona correctamente. ¿Te has fijado en como Git nos dice que holamundo.txt es un nuevo fichero? Eso significa que Git comprueba y nos informa de que holamundo.txt es un fichero nuevo.</p>

<p>Para decirle a Git que queremos empezar a hacerle un seguimiento de los cambios que hagamos sobre holamundo.txt, lo primero que tenemos que hacerlo es añadirlo a la zona de pruebas usando git add.</p>

<code>git add 'holamundo.txt'</code>

<div style="display:none;">
	<h2>1.4 Adding Changes</h2>
	<p>Good, it looks like our Git repository is working properly. Notice how Git says octocat.txt is "untracked"? That means Git sees that octocat.txt is a new file.</p>

	<p>To tell Git to start tracking changes made to octocat.txt, we first need to add it to the staging area by using git add.</p>

	<code>git add holamundo.txt</code>
</div>