<h2>1.6 Guardando</h2>
<p>¿Te has dado cuenta de como Git te informa que debes guardar los últimos cambios realizados? Los ficheros listados se encuentran en la zona de pruebas, pero no en nuestro repositorio. Nosotros podemos añadir y eliminar los cambios realizados en la zona de pruebas antes de moverlos al repositorio.</p>

<p>Para guardar los cambios realizados, escribe el comando commit junto con algún mensaje descriptivo diciendo que se ha cambiado. Prueba a guardar escribiendo el siguiente comando:</p>

<code>git commit -m '001_commit_holamundo'</code>