<h2>1.6 Guardando</h2>
<p>¿Te has dado cuenta de como Git te informa que debes guardar los últimos cambios realizados? Los ficheros listados se encuentran en la zona de pruebas, pero no en nuestro repositorio. Nosotros podemos añadir y eliminar los cambios realizados en la zona de pruebas antes de moverlos al repositorio.</p>

<p>Para guardar los cambios realizar, escribe el comando commit junto con algún mensaje descriptivo diciendo que se ha cambiado. Prueba a guardar escribiendo el siguiente comando:</p>

<code>git commit -m "001_commit_holamundo"</code>

<div style="display:none;">
	<h2>1.6 Committing</h2>
	<p>Notice how Git says changes to be committed? The files listed here are in the Staging Area, and they are not in our repository yet. We could add or remove files from the stage before we store them in the repository.</p>

	<p>To store our staged changes we run the commit command with a message describing what we've changed. Let's do that now by typing:</p>

	<code>git commit -m "Add cute octocat story"</code>
</div>