<h2>1.8 Guardando todos los cambios</h2>
<p>De acuerdo, has añadido varios ficheros a la zona de pruebas. Puedes probar a escribir el comando git status antes de guardar para ver qué vas a mover hacia el repositorio.</p>

<p>Si todo está correcto, escribe el siguiente comando en el terminal:</p>

<code>git commit -m '002_commit_txt'</code>

<div style="display:none;">
	<h2>1.8 Committing All Changes</h2>
	<p>Okay, you've added all the text files to the staging area. Feel free to run git status to see what you're about to commit.</p>

	<p>If it looks good, go ahead and run:</p>

	<code>git commit -m 'Add all the octocat txt files'</code>
</div>