<h2>1.9 Historial</h2>
<p>Hemos hecho varios cambios y ahora es momento de hacer un resumen de que hemos cambiado.</p>

<p>Por suerte, Git cuenta con un historial. Piensa en el historial como un gran libro de registros donde se insertan todas las veces que hemos realizado un guardado desde el primer día. Prueba a ver el historial escribiendo el siguiente comando:</p>

<code>git log</code>

<div style="display:none;">
	<h2>1.9 History</h2>
	<p>So we've made a few commits. Now let's browse them to see what we changed.</p>

	<p>Fortunately for us, there's git log. Think of Git's log as a journal that remembers all the changes we've committed so far, in the order we committed them. Try running it now:</p>

	<code>git log</code>
</div>